.login-page-container{
    position: relative;
    overflow: hidden;

    .circle1{
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: #e09e19;
        border-radius: 50%;
        top: -100px;
        left:-100px;
        z-index: -2;
    }
    .circle2{
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: #e09e19;
        border-radius: 50%;
        bottom: -100px;
        right:-100px;
        z-index: -2;
    }
  
  .login-wrapper{
        height: 560px;

        .login-banner{
            width: 45%;
            // background: rgba(45, 100, 127, 0.281) url(../../../assets/loginbg.jpg) no-repeat;
            background:linear-gradient(0deg, rgba(45, 100, 127, 0.733), rgba(45, 100, 127, 0.733)), url(../../../assets/loginbg.jpg);
            background-size: cover;
            
        }
        .login-form{
            width: 55%;

        
            .signin-button{
                border: none;
                background-color: #e09e19;
                color: #fff;
                font-size: 1.1rem;
                font-weight: 500;
            }
        }

    }

}