<div class="login-page-container flex justify-content-center align-items-center h-screen">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="login-wrapper flex w-9 shadow-2 border-round-lg">
        <div class="login-banner border-round-lg">
            <div class="flex justify-content-center align-items-center h-full">
                <img src="../../../assets/unilogologin.png" width="300" alt="" srcset="">
            </div>
        </div>
        <div class="login-form ">
            <div class="surface-card p-7 w-full h-full border-round-lg">
                <form action="" method="post">
                    <div class="text-center mb-5">
                        <!-- <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3"> -->
                        <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
                        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
                        <a routerLink="signup" class="font-medium no-underline ml-2 cursor-pointer" style="color: #e09e19;">Create today!</a>
                    </div>
    
                    <div>
                        <label for="username" class="block text-900 font-medium mb-2">Username</label>
                        <input id="username" type="text" placeholder="Username" pInputText class="w-full mb-3 p-3 border-round-lg border-1">
    
                        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                        <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3 p-3 border-round-lg border-1">
    
                        <div class="flex align-items-center justify-content-between mb-6">
                            <div class="flex align-items-center">
                                <p-checkbox id="rememberme"  [binary]="true" inputId="binary" styleClass="mr-2"></p-checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: #e09e19;">Forgot password?</a>
                        </div>
                        <div class="flex justify-content-center">
                            <button class="signin-button p-2 w-3 border-round-lg ">Sign In</button>
                        </div>
                            
                        <!-- <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

