<div class="dashboard-container">
     <div class="card">
        <p-menubar >
            <ng-template pTemplate="start" style="width: 30%;">
               <div class="flex w-full">
                <div class="w-11">
                    <img src="../../assets/unilogo.png" width="150" class="ml-4" />
                </div>
                <!-- <app-sidebar></app-sidebar> -->
                <div>
                    <p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
                </div>
               </div>
                
            </ng-template>
            <ng-template pTemplate="end">
                <div class="user-profile">

                </div>
            </ng-template>
        </p-menubar>
    </div>
    <div class="sidebar">
        <p-sidebar [(visible)]="sidebarVisible">
            <ng-template pTemplate="header">Header Content</ng-template>
            <ng-template pTemplate="content">Body Content</ng-template>
            <ng-template pTemplate="footer">Footer Content</ng-template>
        </p-sidebar>
    </div>
</div>

<!-- [model]="" -->