.signup-page-container{
    position: relative;
    overflow: hidden;

    .circle1{
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: #e09e19;
        border-radius: 50%;
        top: -100px;
        left:-100px;
        z-index: -2;
    }
    .circle2{
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: #e09e19;
        border-radius: 50%;
        bottom: -100px;
        right:-100px;
        z-index: -2;
    }

    .submit-button{
        border: none;
        background-color: #e09e19;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
    }
}