<div class="signup-page-container flex justify-content-center align-items-center h-screen">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="signup-wrapper surface-card p-5 w-7 shadow-2 border-round-lg">
        <form action="" method="post">
            <div class="text-center mb-5">
                <div class="mb-5">
                    <img src="../../../assets/unilogo.png" width="200" alt="" srcset="">
                </div>
                
                <div class="text-900 text-5xl font-medium mb-3" ><span style="color:#2d637f;">Sign up</span></div>
            </div>

            <div>
                <div class="flex justify-content-around mt-4">
                    <div class="w-5">
                        <label for="firstname" class="block text-900 font-medium mb-2">First Name</label>
                        <input id="firstname" type="text" placeholder="First Name" pInputText class="w-full mb-3 p-3 border-round-lg border-1">
                    </div>
                    <div class="w-5">
                        <label for="lastname" class="block text-900 font-medium mb-2">Last Name</label>
                        <input id="lastname" type="text" placeholder="Last Name" pInputText class="w-full mb-3 p-3 border-round-lg border-1">
                    </div>
                </div>
                <div class="px-4 mt-4">
                    <label for="username" class="block text-900 font-medium mb-2">Username</label>
                    <input id="username" type="text" placeholder="Username" pInputText class="w-full mb-3 p-3 border-round-lg border-1">    
                </div>
                
                <div class="flex justify-content-around mt-4">
                    <div class="w-5">
                        <label for="password" class="block text-900 font-medium mb-2">Password</label>
                        <input id="password" type="password" placeholder="Password" pInputText class="w-full mb-3 p-3 border-round-lg border-1">
                    </div>
                    <div class="w-5">
                        <label for="confirmpassword" class="block text-900 font-medium mb-2">Confirm Password</label>
                        <input id="confirmpassword" type="password" placeholder="Confirm Password" pInputText class="w-full mb-3 p-3 border-round-lg border-1">
                    </div>
                </div>
                

               
                <div class="flex justify-content-center">
                    <button class="submit-button p-2 w-3 border-round-lg mt-4 ">Submit</button>
                </div>
                    
                <!-- <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button> -->
            </div>
        </form>
    </div>
</div>