/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import '~primeflex/primeflex.css';
@import "primeicons/primeicons.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}